   <footer class="">
          <div class="container">
               <div class="row">  
                    <div class="col-lg-6 col-sm-12">
                        <h4> Application Support</h4>
                        
                        <p>
                            <a class="footer-link btn btn-dark fa fa-github fa-lg" href="https://github.com/AlexMachin1997/YelpCamp/issues" target="_blank"> Report via Github</a>
                        </p>
                    
                        <p>
                            <a class="footer-link btn btn-info fa fa-envelope fa-lg" href="mailto:AlexMachin1997@gmail.com" target="_blank"> Report Via Email </a>
                        </p>
                        
                        <p>
                            <a class="footer-link btn btn-secondary fa fa-mobile fa-lg" href="sms:07713758383" target="_blank"> Report Via Text </a>
                        </p>
                    </div>
                    
                    <div class="col-lg-6 col-sm-12">
                    
                        <h4>Social Media </h4>
                        
                        <p>
                            <a class="footer-link btn btn-dark fa fa-github fa-lg" target="_blank" a href="https://github.com/AlexMachin1997"> Github Account </a>
                        </p>
                        
                        <p>
                            <a class="footer-link btn facebook-button fa fa-facebook fa-lg" target="_blank" a href="https://www.facebook.com/AlexMachin97"> Facebook Account </a>
                        </p>
                        
                        <p>
                            <a class="footer-link btn btn-info fa fa-twitter fa-lg" target="_blank" a href="https://twitter.com/AlexMachin97"> Twitter Account </a>
                        </p>
                    </div>
                </div>    
            </div>
    </footer>
        
    <!-- Recaptcha API JS-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <!-- JQUERY -->
    <script src="/script/jquery.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="/bootstrap/js/bootstrap.min.js" > </script>

    </body>
</html>

