    <head>
    
        <!-- Title Of Application -->
        <title>YelpCamp</title>
        
        <!-- Framework-->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        
        <!-- Popper JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
        
        <!-- Custom Stylesheet-->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
        
        <!-- Custom Slideshow Backwards Compatability -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        
        <!-- Viewport Of The Device The Application Is Being Viewed On -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon Link -->
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        
           <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116286528-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-116286528-1');
        </script>
    </head>
    
        

    <div class = "container">
        <div class="col-12">
            <div id="landing-header">
         		<h1>Welcome to YelpCamp!</h1>
        		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
            </div>
            
            <ul class="slideshow">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
        </div>
    </div>